<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body {
            background: blue;
            letter-spacing 2px;
        }
    </style>
</head>
<body>
    <%- include ('partials/nav'); %>
    <div class="container">
        <h2 class="white-text center">This is how you contact me</h2>
        <p class="flow-text white-text">When you go to /contact, this is what you get (nothing else, sorry).</p>
    </div>
</body>
</html>